body{
    margin: 1em 1em 1em 1em;
    font-size: 1.5em;
    font-family: Tahoma;
}

.col1, .col2, .col3{
    width: 250px;
    float: left;
    text-align: center;
}

h2{
    font-size: 1.5em;
}
.blue{
    color: blue;
}
.grey{
    color: grey;
}

.points{
    font-size: 2.75em;
    font-weight: bold;
}

#image{
    width: 150px;
    transition: width 0.2s;
}

button{
    height: 50px;
    width: 60%;
    font-size: 18px;
}